<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;Port=3307;Database=2Late2Care;Uid=root;Pwd=root"/>
  </connectionStrings>
</configuration>