@page
@model ToLateToCare_front.ClassesDetailsModel

<div>
    <h4>Classe</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Classe.libelle">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
