@page
@model ToLateToCare_front.ClassesIndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Classe) {
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.libelle">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.libelle">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.libelle">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
