@page
@model ToLateToCare_front.TicketCreateModel

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ticket.titre" class="control-label"></label>
                <input asp-for="Ticket.titre" class="form-control" />
                <span asp-validation-for="Ticket.titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.description" class="control-label"></label>
                <input asp-for="Ticket.description" class="form-control" />
                <span asp-validation-for="Ticket.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.date" class="control-label"></label>
                <input asp-for="Ticket.date" class="form-control" />
                <span asp-validation-for="Ticket.date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.urlPhoto" class="control-label"></label>
                <input asp-for="Ticket.urlPhoto" class="form-control" />
                <span asp-validation-for="Ticket.urlPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
