
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Authentification", "Home", FormMethod.Post, new { @class = "form" }))
{


    @Html.ValidationSummary(true);
    @Html.AntiForgeryToken();

    <h2>Login</h2>
    <form action="@Html.ActionLink("Accueil", "Authentification", "Home")">
        <p>Nom :</p>
        <input type="text" name="nom" placeholder=" Feroniererere " />
        <p>Mot de passe :</p>
        <input type="password" name="mdp" />

        <input class="btn btn-primary btn-lg" type="submit" value="Soumettre">
    </form>
    <p><a href="/Home/Inscription">S'inscrire &raquo;</a></p>
}
