
@{
    ViewBag.Title = "Connexion";
}

@using (Html.BeginForm("Connexion", "Home", FormMethod.Post, new { @class = "form" }))
{


    @Html.ValidationSummary(true);
    @Html.AntiForgeryToken();

    <h2>Login</h2>
    <form action="@Html.ActionLink("Accueil", "Connexion", "Home")">
        <p>Pseudo :</p>
        <input type="text" name="pseudo" placeholder="Place something here.. " />
        <p>Mot de passe :</p>
        <input type="password" name="password" />

        <input class="btn btn-primary btn-lg" type="submit" value="Se connecter">
    </form>
    <p>
        <a href="/Home/Inscription">Aller s'inscrire &raquo;</a>
    </p>
}
